#comentarios {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px 35% 0 5%;
    color: white;
    background-color: #192229;
}

#comentarios>div {
    padding: 1vh 1vw;
}

#comentarios .comentario_user {
    display: flex;
    color: #1192EE;
    font-size: 1.8vw;
}

.valoracion_com {
    padding-left: 3vw;
}

.comentario>p {
    font-size: 1.5vw;
    padding-left: 3vw;
}

/*MOBILE*/
@media screen and (max-width: 700px){
    #comentarios {
        grid-template-columns: 1fr;
        text-align: center;
        margin: 15px 5% 0 5%;
        background-color: #3A3C3E;
    }

    .comentario {
        border-top: 2px solid black;
    }

    .comentario>p {
        font-size: 4.5vw;
    }

    #comentarios .comentario_user {
        font-size: 4.5vw;
    }

    #comentarios .comentario_user p{
        margin-left: 2.5vw;
    }

    #comentarios .valoracion_com {
        margin-top: -4vh;
        padding-left: 47vw;
        font-size: 6vw;
    }
}