<div class="nav_busqueda">
    <a routerLink="todos"><div id="nav_busqueda_todos" class="opcion">Todos</div></a>
    <a routerLink="destacados"><div id="nav_busqueda_destacados"  class="opcion">Destacados</div></a>
    <a routerLink="cursos"><div id="nav_busqueda_cursos"  class="opcion">Cursos</div></a>
    <a routerLink="talleres"><div id="nav_busqueda_talleres"  class="opcion">Talleres</div></a>
    <a routerLink="comunidad"><div id="nav_busqueda_publi"  class="opcion">Publicados por la comunidad</div></a>
</div>
